<%-  include("../components/layout/header")%>
<meta name="description" content="Alasca Fashion, India's Leading Fashion Store for Suits, Lehengas, Gowns, Sarees and Much More On Exclusive Price" />
<title>India's Leading Fashion Store | Alasca Fashion</title>
<link rel="stylesheet" href="css/home.css"></link>
<style>
  .product-card{
    width: 10rem;
    cursor: pointer;
  }
  /* tab */
  @media (min-width: 40rem) {
    .product-card {
      width: 45rem;
    }
  }
  /*lap */
  @media (min-width: 80rem) {
    .product-card {
      width: 15rem;
  }
}
</style>
</head>
<body>
  <%- include("../components/layout/navbar"); %>
  <%- include("../components/home/carousel"); %>
  <div>
    <div class="homeHeight"></div>
    <div>
      <p class="homeLastestTrends">LATEST TRENDS</p>
      <p class="homeNewLaunches">
        New launches every day, styles that promise to capture your heart
      </p>
    </div>
    <div class="flex flex-wrap justify-evenly">
      <% locals.products?.map((each)=>{ %>
        <a href="collection/product/<%=each._id%>" class="product-card rounded shadow-2xl my-2">
            <img class="w-full" src="<%=each.images[each.thumbnail].url;%>" alt="Sunset in the mountains">
            <div class="text-center p-1">
              <p class="truncate del"><%=each.title%></p>
              <p class="text-gray-700 text-base text-center">
                <span class="text-black-500">₹ <%=each.disCost%></span>
                <span class="text-red-500 ml-3">₹ <del><%=each.cost%></del></span>
                <span class="text-green-500 ml-3 font-bold text-lg"><del><%=parseInt(100-(each.disCost*100/each.cost));%>%</del></span>
              </p>
            </div>
        </a>
    <%});%>
    </div>
    <div
      class="dFlex justfycent"
      style="margin:15px auto 40px auto;"
    >
      <a href="/collection/products?sortBy=latest" class="flex justify-center my-10 negateUnderLine">
        <button style="background:#e91e63;color:#fff;padding:10px;">
          View More
        </button>
      </a>
    </div>
        <div>
          <p class="homeCatalogue">CATALOGUE</p>
          <p class="homeExplore">
            Explore ours catalogue to get your outfit that flatters your
            body{" "}
          </p>
        </div>
        <div class="flex flex-wrap justify-evenly">
            <a
              href="/collection/products?subcategory=626505a6a8fc44666c191d7f&sortBy=latest"
              class="homeSubcatLink"
            >
              <img src="lehenga.jpeg" alt={each.label} />
              <p class="homeSubcatLabel">Lehengas</p>
            </a>
            <a
              href="/collection/products?subcategory=626505b5a8fc44666c191d82&sortBy=latest"
              class="homeSubcatLink"
            >
              <img src="saree.jpeg" alt={each.label} />
              <p class="homeSubcatLabel">Sarees</p>
            </a>
            <a
              href="/collection/products?subcategory=626505b9a8fc44666c191d85&sortBy=latest"
              class="homeSubcatLink"
            >
              <img src="suit.jpeg" alt={each.label} />
              <p class="homeSubcatLabel">Suits</p>
            </a>
            <a
              href="/collection/products?subcategory=6266eac6c2ecfe2a9122444c&sortBy=latest"
              class="homeSubcatLink"
            >
              <img src="4.jpeg" alt={each.label} />
              <p class="homeSubcatLabel">Gowns</p>
            </a>
        </div>
  </div>
</body>
<%-  include("../components/layout/footer")%>